body {
  font-family: Arial, sans-serif;
}
body ul li {
  list-style: none;
}
body .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ffc42a 0%, #ffc42a 50%, #fff 50%, #fff 100%);
}
body .stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
}
body .stage .card {
  height: 100%;
  width: 250px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 20px rgba(0,0,0,0.1);
}
body .stage .card:hover .inner__top {
  transform: scale(1);
  box-shadow: 0 0px 18px rgba(0,0,0,0);
}
body .stage .card:hover .inner__top .like {
  animation: pop-in 0.2s forwards;
}
body .stage .card:hover .inner__top .like .pop-in__child {
  animation: pop-in__child 0.25s forwards;
  animation-delay: 0.2s;
}
body .stage .card:hover .inner__top .container-circle {
  opacity: 1;
  bottom: -30px;
}
body .stage .card:hover .inner__top .container-circle .circle-1 {
  left: 0;
}
body .stage .card:hover .inner__top .container-circle .circle-3 {
  left: 40px;
}
body .stage .card:hover .inner__top .avatars .info {
  opacity: 1;
}
body .stage .card:hover .inner__top .avatars .info .small,
body .stage .card:hover .inner__top .avatars .info .bold {
  bottom: -10px;
}
body .stage .card:hover .inner__top .avatars .info .bold {
  transition-delay: 0.1s;
}
body .stage .card:hover .inner__top .overlay {
  background: rgba(0,0,0,0.6);
}
body .stage .card .inner__bottom {
  position: relative;
  padding: 0 20px;
  z-index: 4;
}
body .stage .card .inner__bottom .card__title {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
body .stage .card .inner__bottom .card__txt {
  font-size: 0.8em;
  font-weight: 100;
  color: #808080;
}
body .stage .card .inner__top {
  will-change: transform, box-shadow;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 50%;
  top: -20px;
  position: relative;
  background: #000;
  width: 100%;
  transform: scale(0.9);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(0,0,0,0.2);
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
}
body .stage .card .inner__top .overlay {
  will-change: background;
  transition: background 0.25s ease;
  background: rgba(0,0,0,0);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body .stage .card .inner__top .avatars {
  display: inline-block;
}
body .stage .card .inner__top .avatars .info {
  opacity: 0;
  font-size: 1em;
  position: absolute;
  top: 60px;
  left: 20px;
  transition: opacity 0.3s ease;
}
body .stage .card .inner__top .avatars .info .small,
body .stage .card .inner__top .avatars .info .bold {
  display: block;
  position: relative;
  transition: bottom 0.3s ease;
  color: #fff;
}
body .stage .card .inner__top .avatars .info .small {
  font-weight: 100;
  bottom: -30px;
}
body .stage .card .inner__top .avatars .info .bold {
  bottom: -30px;
}
body .stage .card .inner__top .avatars .list {
  padding: 0;
}
body .stage .card .inner__top .avatars .list .item {
  transition: all 0.15s ease;
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -15px;
  opacity: 0;
}
body .stage .card .inner__top .avatars .list .item__count {
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
body .stage .card .inner__top .avatars .list .item .img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
body .stage .card .inner__top .like {
  z-index: 3;
  position: absolute;
  transform: translate(-50%);
  padding: 7px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
}
body .stage .card:hover .inner__top .item:first-child,
body .stage .card:hover .inner__top .item:nth-child(2),
body .stage .card:hover .inner__top .item:nth-child(3),
body .stage .card:hover .inner__top .item:last-child {
  opacity: 1;
}
body .stage .card:hover .inner__top .item:first-child {
  left: 20px;
}
body .stage .card:hover .inner__top .item:nth-child(2) {
  left: 40px;
}
body .stage .card:hover .inner__top .item:nth-child(3) {
  left: 60px;
}
body .stage .card:hover .inner__top .item:last-child {
  left: 80px;
}
.pop-in {
  animation: pop-in 1s forwards;
}
.pop-in__child {
  opacity: 0;
  width: 100%;
}
.container-circle {
  will-change: bottom, opacity;
  transition: bottom 0.3s ease;
  filter: url("#liquid");
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  opacity: 0;
  bottom: -35px;
  width: 58px;
  height: 32px;
  display: block;
}
.container-circle .circle {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
}
.container-circle .circle-1 {
  left: 16px;
  transition: left 0.3s ease-in-out;
}
.container-circle .circle-2 {
  left: 30px;
  bottom: 0;
}
.container-circle .circle-3 {
  transition: left 0.3s ease-in-out;
  left: 32px;
}
.container-circle .circle-1,
.container-circle .circle-3 {
  width: 18px;
  height: 12px;
}
@-moz-keyframes pop-in {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  100% {
    bottom: 15px;
    opacity: 1;
  }
}
@-webkit-keyframes pop-in {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  100% {
    bottom: 15px;
    opacity: 1;
  }
}
@-o-keyframes pop-in {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  100% {
    bottom: 15px;
    opacity: 1;
  }
}
@keyframes pop-in {
  0% {
    bottom: -30px;
    opacity: 0;
  }
  100% {
    bottom: 15px;
    opacity: 1;
  }
}
@-moz-keyframes pop-in__child {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes pop-in__child {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes pop-in__child {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-in__child {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
